/* NEELA, AKHILA - 1002121831
PATEL, ABHISHEK - 1002033618
PATIL, KAUSHIK - 1001928970
PERICHARLA, SURAJ - 1002055496
POTTA, AMRUTHA REDDY - 1002002745 */

@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
.body-bg {
    background-color: #edf1fe; /* Background color for the right side */
    width: 75%; /* Set width to 75% */
    height: 100vh;
    position: relative;
    overflow: hidden;
}
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    display: flex;
    align-items: flex-end;
    height: 100vh;
    overflow: hidden;
}

.content {
    position: absolute;
    text-align: center;
    font-family: Garamond, serif;
    width: 60%; /* 25% screen width for the left side */
    height: 100%;
    top: 0;
    left: 0;
    background-color: #fff; /* White background color */
    box-sizing: border-box;
}

.video-button-container {
    position: absolute;
    top: 50%;
    right: 12.5%; /* 75% screen width */
    transform: translate(0, -50%);
    padding: 20px;
    text-align: center; /* Center button horizontally */
}

.content h1 {
    font-size: 24px;
    margin: 0;
}

.content p {
    font-size: 16px;
    margin: 10px 0;
}

.video-button-container {
    position: absolute;
    top: 50%;
    right: 12.5%; /* 75% screen width */
    transform: translate(0, -50%);
    padding: 20px;
    text-align: center; /* Center button horizontally */
}

.video-button {
    background-color: #edf1fe;
    color: #3498db;
    border: 2px solid #3498db; /* Added border color */
    border-radius: 50%; /* Make it a circle */
    padding: 30px; /* Adjust padding to create a perfect circle */
    font-size: 18px;
    cursor: pointer;
    display: inline-block; /* Display the button inline */
}

.play-icon {
    margin-left: 10px;
}

.video-container {
    width: 65%;
    height: 100%;
    position: relative;
    overflow: hidden;
    display: none; /* Initially hidden */
}

.video-container video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.no-underline {
    text-decoration:none; /* Remove underline for anchor tags with the 'no-underline' class */
}

.co{
    box-sizing: border-box;
    padding:2px;
    position: absolute;
    left: 0;
    right:0;
    flex: 1;
    bottom: 0;
    margin-bottom: 40px;
}
 .button-container {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 15px;
  }
  
  .button-container .rounded-button {
    background-color: #007bff;
    font-family: Garamond, serif;
    font-style: normal;
    color: #fff;
    border: none;
    border-radius: 25px;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s;
  }

.button-container .rounded-button:hover {
    background-color: #0056b3;
  }
  .flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
    .top-bar {
        background-color: #fff;
        padding: 15px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 1;
        box-shadow: 0 0 3px rgba(0, 0, 0, .1);
        color: #555;
        font-family: Arial, Helvetica, sans-serif;
        height: 36px;
    }
  
  
  .top-bar >*{
    gap: 1rem;
  }
  
  .logo{
    text-transform: uppercase;
  }
  h3{
    color: #555;
  }

  .nav-bar-text{
    color: #555;
  }