<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="../StaticFiles/CSS/main.min.css" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
        <script src="../StaticFiles/JS/main.min.js"></script>
</head>
<body>
    <header class="top-bar flex">
        <div class="flex">
            <h3>MSC</h3>
        </div>
        <div class="flex">
            <a href="about_us.html" class="nav-bar-text no-underline">About</a>
        </div>
        <div class="flex">
            <a href="services.html" class="nav-bar-text no-underline">Services</a>
        </div>
        <div class="flex">
            <a href="contact_us.html" class=" nav-bar-text no-underline">Contact</a>
        </div>
        <div class="flex">
            <div class="button-container">
                <a href="login.html" class="rounded-button no-underline">Login</a>
            </div>
        </div>
    </header>
  
  <div class="content" style="background-color: white;">
    <div class="container01">
        <div class="image">
            <img src="../StaticFiles/Media/pexels-andrea-piacquadio-3807755.jpg" alt="Image on the right">
        </div>
        <div class="text">
            <h1>Academic Program</h1>
            <p>Our Master's in Computer Science program is committed to delivering an outstanding educational journey in the realm of computer science. Through a challenging curriculum, accomplished faculty, and cutting-edge resources, we equip our students to thrive in the ever-evolving landscape of technology.</p>
        </div>
    </div>
    <div class="container02">
        <h1>Program Objectives</h1>
        <div class="bar"></div>
        <div class="items_listing">
            <div class="bar"></div>  
            <div class="item">
                <div class="item-title">Research and Innovation</div>
                <div class="item-description">
                    Prepare students to engage in cutting-edge research and contribute to the advancement of computer science through original research projects, publications, and presentations.
                </div>
            </div>
            <div class="item">
                <div class="item-title">Critical Problem Solving</div>
                <div class="item-description">
                    Graduates will be able to analyze complex problems in computer science, identify efficient and innovative solutions, and apply critical thinking to evaluate their approaches.
                </div>
            </div>
            <div class="item">
                <div class="item-title">Global Perspective</div>
                <div class="item-description">
                    Encourage an understanding of the global context in which computer science operates, enabling graduates to work in diverse international environments and consider global issues in their work.
                </div>
            </div>
            <div class="item">
                <div class="item-title">Industry Relevance</div>
                <div class="item-description">
                    With a robust curriculum, experienced faculty, and access to state-of-the-art resources, we empower our students to excel in the dynamic and ever-evolving world of technology.
                </div>
        </div>
    </div>
    <div class="button-container">
        <button class="rounded-button" onclick="location.href='./course_list.html'">Courses offered</button>
    </div>
 </div>
</body>
</html>
