<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Base Page</title>
        <link href="../StaticFiles/CSS/main.min.css" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
        <script src="../StaticFiles/JS/main.min.js"></script>
</head>
<body>
  <!-- <div class="header">
    <input type="checkbox" id="active">
    <label for="active" class="menu-btn"><i class="fas fa-bars"></i></label>
    <a href="#" class="logo">LOGO</a>
  <div class = "wrapper">
    <ul>
      <li><a href="#">Profile</a></li>
      <li><a href="./course_list.html">Courses</a></li>
      <li><a href="#">Inbox</a></li>
      <li><a href="#">Calender</a></li>
    </ul>

    <ol>
      <li><a href="#">Privacy Policy</a></li>
      <li><a href="#">Help</a></li>
      <li><a href="#">Logout</a></li>
    </ol>
  </div>
</div> -->
  
  <div class="content">
    <div class="container01">
        <div class="image">
            <img src="../StaticFiles/Media/pexels-andrea-piacquadio-3807755.jpg" alt="Image on the right">
        </div>
        <div class="text">
            <h1>Academic Program</h1>
            <p>Our Master's in Computer Science program is committed to delivering an outstanding educational journey in the realm of computer science. Through a challenging curriculum, accomplished faculty, and cutting-edge resources, we equip our students to thrive in the ever-evolving landscape of technology.</p>
        </div>
    </div>
    <div class="container02">
        <h1>Program Objectives</h1>
        <div class="bar"></div>
        <div class="items_listing">
            <div class="bar"></div>  
            <div class="item">
                <div class="item-title">Research and Innovation</div>
                <div class="item-description">
                    Prepare students to engage in cutting-edge research and contribute to the advancement of computer science through original research projects, publications, and presentations.
                </div>
            </div>
            <div class="item">
                <div class="item-title">Critical Problem Solving</div>
                <div class="item-description">
                    Graduates will be able to analyze complex problems in computer science, identify efficient and innovative solutions, and apply critical thinking to evaluate their approaches.
                </div>
            </div>
            <div class="item">
                <div class="item-title">Global Perspective</div>
                <div class="item-description">
                    Encourage an understanding of the global context in which computer science operates, enabling graduates to work in diverse international environments and consider global issues in their work.
                </div>
            </div>
            <div class="item">
                <div class="item-title">Industry Relevance</div>
                <div class="item-description">
                    With a robust curriculum, experienced faculty, and access to state-of-the-art resources, we empower our students to excel in the dynamic and ever-evolving world of technology.
                </div>
        </div>
    </div>
    <div class="button-container">
        <button class="rounded-button">Courses offered</button>
    </div>
 </div>
</body>
</html>
