<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Admin Page</title>
            <link href="../StaticFiles/CSS/main.min.css" rel="stylesheet">
            <link href="../StaticFiles/CSS/student.css" rel="stylesheet">

    </head>
<body>
    <header class="top-bar flex">
        <div class="flex">
            <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" fill="currentColor" class="bi bi-list" viewBox="0 0 16 16"><path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/></svg>
            <h3 class="">MSC</h3>
        </div>
        <div class="flex">
            <div class="profile">
                <svg xmlns="http://www.w3.org/2000/svg" width="32" height="28" fill="currentColor" class="bi bi-person-fill" viewBox="0 0 16 16"><path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3Zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6Z"/></svg>
            </div>
            <h3 class="">Name</h3>
        </div>
    </header>
            <div class="content">
                <h2 class="hhh" style="color: #555; text-transform: uppercase;">Student Permission Manager</h2>
                <table id = "class">
                    <tr class="module">
                        <th class="modulesection">Tasks</th>
                    </tr>
                    <tr class="module">
                        <td>Exam</td>
                        <td>
                            <select name="permissions" id="student_permissions">
                                <option value="Can upload only">Can upload only</option>
                                <option value="Can View Only">Can View Only</option>
                                <option value="Can View,upload Only">Can View,upload Only</option>
                                <option value="Can View,upload,edit Only">Can View,upload,edit Only</option>
                              </select>
                            </td>
                    </tr>
                    <tr class="module">
                        <td>Profile</td>
                        <td>
                            <select name="permissions" id="student_permissions">
                                <option value="Can upload only">Can upload only</option>
                                <option value="Can View Only">Can View Only</option>
                                <option value="Can View,upload Only">Can View,upload Only</option>
                                <option value="Can View,upload,edit Only">Can View,upload,edit Only</option>
                              </select>
                            </td>
                    </tr>
                    <tr class="module">
                        <td>Syllabus</td>
                        <td>
                            <select name="permissions" id="student_permissions">
                                <option value="Can upload only">Can upload only</option>
                                <option value="Can View Only">Can View Only</option>
                                <option value="Can View,upload Only">Can View,upload Only</option>
                                <option value="Can View,upload,edit Only">Can View,upload,edit Only</option>
                              </select>
                            </td>
                    </tr>
                    <tr class="module">
                        <td>Modules</td>
                        <td>
                            <select name="permissions" id="student_permissions">
                                <option value="Can upload only">Can upload only</option>
                                <option value="Can View Only">Can View Only</option>
                                <option value="Can View,upload Only">Can View,upload Only</option>
                                <option value="Can View,upload,edit Only">Can View,upload,edit Only</option>
                              </select>
                            </td>
                    </tr>
                    <tr class="module">
                        <td>Discussion</td>
                        <td>
                            <select name="permissions" id="student_permissions">
                                <option value="Can upload only">Can upload only</option>
                                <option value="Can View Only">Can View Only</option>
                                <option value="Can View,upload Only">Can View,upload Only</option>
                                <option value="Can View,upload,edit Only">Can View,upload,edit Only</option>
                              </select>
                            </td>
                    </tr>
                  </table>
                   
            </div>
</body>
</html>