<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Admin Page</title>
            <link href="../StaticFiles/CSS/main.min.css" rel="stylesheet">
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
            <script src="../StaticFiles/JS/main.min.js"></script>
    </head>
<body>
    <header class="top-bar flex">
        <div class="flex">
            <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" fill="currentColor" class="bi bi-list" viewBox="0 0 16 16"><path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/></svg>
            <h3 class="">MSC</h3>
        </div>
        <div class="flex">
            <div class="profile">
                <svg xmlns="http://www.w3.org/2000/svg" width="32" height="28" fill="currentColor" class="bi bi-person-fill" viewBox="0 0 16 16"><path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3Zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6Z"/></svg>
            </div>
            <h3 class="">Name</h3>
        </div>
    </header>
            <div class="content">
                <h2 class="hhh" style="color: #555; text-transform: uppercase;">Administrator</h2>
                <div class="tiles-wrap" style="background-color: #edf1fe;">
                    <div class="column">
                        <div class="text" >STUDENT</div>
                        <ul class="tiles">
                            <li><a href="./admin_student_manage.html" style="text-decoration: none; color: white;">MANAGE STUDENTS</a></li>
                            <li>MANAGE COURSE </li>
                            <li><a href="./admin_student_permissions.html" style="text-decoration: none; color: white;">PERMISSIONS</a></li>
                            <li>REPORTS </li>
                            <li>PERFORMANCE </li>
                        </ul>
                        
                    </div>
                    <div class="column">
                        <div class="text" >INSTRUCTOR</div>
                        <ul class="tiles">
                            <li><a href="./admin_instructor_manage.html" style="text-decoration: none; color: white;"></a>MANAGE Instructor</li>
                            <li>MANAGE COURSE</li>
                            <li><a href="./admin_instructor_permissions.html" style="text-decoration: none; color: white;"">PERMISSIONS</a></li>
                            <li>ASSIGN-STUDENT</li>
                            <li>REVIEWS</li>
                        </ul>
                    </div>
                    <div class="column">
                        <div class="text" >COORDINATOR</div>
                        <ul class="tiles">
                            <li><a href="./admin_co_ordinator_manage.html" style="text-decoration: none; color: white;">MANAGE COORDINATOR</a></li>
                            <li>MANAGE COURSE</li>
                            <li><a href="./admin_co_ordinator_permissions.html" style="text-decoration: none; color: white;"">PERMISSIONS</a></li>
                            <li>ASSIGN-STUDENT</li>
                            <li>REVIEWS</li>
                        </ul>
                    </div>
                    <div class="column">
                        <div class="text" >QA OFFICER</div>
                        <ul class="tiles">
                            <li><a href="./admin_qa_manage.html" style="text-decoration: none; color: white;">MANAGE QA OFFICER</a></li>
                            <li>MANAGE COURSE </li>
                            <li><a href="./admin_QA_permissions.html" style="text-decoration: none; color: white;">PERMISSIONS</a></li>
                            <li>REVIEWS </li>
                            <li>PERFORMANCE </li>
                        </ul>
                    </div>
            </div>
</body>
</html>