<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Analysis</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../StaticFiles/CSS/exam.css">
</head>
<body>
    <div class="header">
        <a href="#" class="logo">MSC</a>
      </div>
    <main>
        <div class="content-bar1">
            <div class="content">
                <div class="container">
                    <h1>Exam Analysis Report</h1>
                    <h3 class="h3">Grade 5/10</h3>
                    <div class="card">
                        <div class="tile flex">
                            <h3 class="quiz">Question 1</h3>
                            <div class="tile-content">
                                <div class="flex qa-section">
                                    <input placeholder="What are the benefits of using https over http?" class="input"/>
                                    <div class="res">Your Response was: <span class="green">Correct</span></div>
                                </div>
                                <div class="flex stat-card">
                                    <div class="flex stat-values">
                                        <h3>Total correct response <br/>79</h3>
                                        <div class="percantage">65.83%</div>
                                    </div>
                                    <div class="stat-values right-content">
                                        <h3>Total incorrect response <br/>41</h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tile flex">
                            <h3 class="quiz">Question 2</h3>
                            <div class="tile-content">
                                <div class="flex qa-section">
                                    <input placeholder="Which Protocol is used in transport layer?" class="input"/>
                                    <div class="res">Your Response was: <span class="red">Incorrect</span></div>
                                </div>
                                <div class="flex stat-card">
                                    <div class="flex stat-values">
                                        <h3>Total correct response <br/>79</h3>
                                        <div class="percantage">65.83%</div>
                                    </div>
                                    <div class="stat-values right-content">
                                        <h3>Total incorrect response <br/>41</h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tile flex">
                            <h3 class="quiz">Question 3</h3>
                            <div class="tile-content">
                                <div class="flex qa-section">
                                    <input placeholder="Is 64-bit IP address used now?" class="input"/>
                                    <div class="res">Your Response was: <span class="green">Correct</span></div>
                                </div>
                                <div class="flex stat-card">
                                    <div class="flex stat-values">
                                        <h3>Total correct response <br/>79</h3>
                                        <div class="percantage">65.83%</div>
                                    </div>
                                    <div class="stat-values right-content">
                                        <h3>Total incorrect response <br/>41</h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
            </div>
            <button onclick="location.href='./instructor.html'">Close</button>
        </div>
    </main>
</body>
</html>