<!DOCTYPE html>
<html>
<head>
    <title>Base Page</title>
    <head>
        <link href="../StaticFiles/CSS/main.min.css" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
        <script src="../StaticFiles/JS/main.min.js"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
      </head>
</head>
<body>
  <div class="header">
    <input type="checkbox" id="active">
    <label for="active" class="menu-btn"><i class="fas fa-bars"></i></label>
    <a href="#" class="logo">LOGO</a>
  <div class = "wrapper">
    <ul>
      <li><a href="#">Profile</a></li>
      <li><a href="#">Courses</a></li>
      <li><a href="#">Inbox</a></li>
      <li><a href="#">Calender</a></li>
    </ul>

    <ol>
      <li><a href="#">Privacy Policy</a></li>
      <li><a href="#">Help</a></li>
      <li><a href="#">Logout</a></li>
    </ol>
  </div>
</div>
  
  <div class="content">
       <!--main page content goes here-->
       
</body>
</html>
