<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Base Page</title>
        <link href="../StaticFiles/CSS/main.min.css" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
        <script src="../StaticFiles/JS/main.min.js"></script>
</head>
<body>
  <!-- <div class="header">
    <input type="checkbox" id="active">
    <label for="active" class="menu-btn"><i class="fas fa-bars"></i></label>
    <a href="#" class="logo">LOGO</a>
  <div class = "wrapper">
    <ul>
      <li><a href="#">Profile</a></li>
      <li><a href="#">Courses</a></li>
      <li><a href="#">Inbox</a></li>
      <li><a href="#">Calender</a></li>
    </ul>

    <ol>
      <li><a href="#">Privacy Policy</a></li>
      <li><a href="#">Help</a></li>
      <li><a href="#">Logout</a></li>
    </ol>
  </div> -->
  
  <div class="content">
    <div class="container03">
        <div class="image">
            <img src="pexels-andrea-piacquadio-3807755.jpg" alt="Image on the right">
        </div>
        <div class="text">
            <h1>Courses List</h1>
            <p>Students with an undergraduate degree in Computer Science, Computer Engineering, Software Engineering, or a degree from a directly related field, or who have completed the foundation courses specified in the Foundation Courses section may select this program</p>
            <div class="button-container_light">
                <button class="rounded-button">Program Guide</button>
            </div> 
        </div>
        
    </div>
     <div class="container04">
            <div class="grid-container">
                <div class="grid-item">
                    <h1>Database Systems</h1>
                    <p>CSE 5330</p>
                    <p>Database Systems or DBMS is software that caters to the collection of electronic and digital records to extract useful information and store that information</p>
                    <div class="button-container_light">
                        <button class="rounded-button">More Details</button>
                    </div> 
                </div>
                <div class="grid-item">
                    <h1>Data Mining</h1>
                    <p>CSE 5331</p>
                    <p>Data mining is the process of sorting through large data sets to identify patterns and relationships that can help solve business problems through data analysis.</p>
                    <div class="button-container_light">
                        <button class="rounded-button">More Details</button>
                    </div> 
                </div>
                <div class="grid-item">
                    <h1>Web Data Management</h1>
                    <p>CSE 5332</p>
                    <p>body of work concerned with leveraging the large collections of structured data that can be extracted from the Web.</p>
                    <div class="button-container_light">
                        <button class="rounded-button">More Details</button>
                    </div> 
                </div>
    </div>
    <div class="controller">
        <div class="arrows">
            <button id="prev-columns"><i class="arrow left"></i></button>
            <!-- <div class="pagination" id="pagination"></div> -->
            <button id="next-columns"><i class="arrow right"></i></button>
        </div>
    </div>
    </div>
</div>

</body>
</html>
