<!DOCTYPE html>
<html>
<head>
    <title>Base Page</title>
    <head>
        <link href="../StaticFiles/CSS/main.min.css" rel="stylesheet">
        <link href="../StaticFiles/CSS/student.css" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
        <script src="../StaticFiles/JS/main.min.js"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
      </head>
</head>
<body>
  <div class="header">
    <input type="checkbox" id="active">
    <label for="active" class="menu-btn"><i class="fas fa-bars"></i></label>
    <a href="#" class="logo">LOGO</a>
  <div class = "wrapper">
    <ul>
        <li><a href="student-profile.html">Profile</a></li>
        <li><a href="enrolled-course.html">Courses</a></li>
        <li><a href="#">Inbox</a></li>
        <li><a href="calendar.html">Calender</a></li>
    </ul>

    <ol>
      <li><a href="#">Privacy Policy</a></li>
      <li><a href="#">Help</a></li>
      <li><a href="#">Logout</a></li>
    </ol>
  </div>
</div>
  
<div class="content">
    <div class="row">
        <table id = "class">
            <tr class="module">
                <th class="modulesection">
                    Enrolled Course
                    <button class="edit-butn">Enroll in new Course</button>
                </th>
            </tr>
            <tr>
              <tr>
                <th class="modulesection"><a href="student.html">Web Data Management</a></th>
              </tr>
              <tr class="module">
                <td><a>Prof. Jhon Doe</a></td>
                <td><a>3:00pm to 4:20 pm</a></td>
              </tr>  
            </tr>
            <tr>
              <tr>
                <th class="modulesection"><a href="#">Discret Mathematics</a></th>
              </tr>
              <tr class="module">
                <td><a>Prof. Jhon Doe</a></td>
                <td><a>11:00am to 12:20 pm</a></td>
              </tr>  
            </tr>
              
        </table>
        </div>
        
    </div>

    
    
 </div>
</body>
</html>