<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Exam Creation Page (Instructor only)</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../StaticFiles/CSS/exam.css">
</head>
<body>
    <header class="top-bar flex">
        <div class="flex">
            <h3 class="">MSC</h3>
        </div>
    </header>
    <main class="">
        <div class="content-bar1">
            <div class="content">
                <div class="container">
                    <h1>Create Exam</h1>
                    <div class="card">
                        <div class="tile flex">
                            <h3 class="quiz">Question 1</h3>
                            <div class="tile-content">
                                <div class="flex q-section">
                                    <div class="qs">
                                        <input placeholder="What are the benefits of using https over http?" class="input"/>
                                        <div class="items">
                                            <div class="item">
                                                <input type="checkbox" />
                                                <label>MCQs</label>
                                            </div>
                                            <div class="item">
                                                <input type="checkbox" checked/>
                                                <label>Show Answer</label>
                                            </div>
                                            <div class="item">
                                                <input type="checkbox" />
                                                <label>True or False</label>
                                            </div>
                                        </div>
                                    </div>
                                    <textarea class="w-full" placeholder="Keywords to look for in answer"></textarea>
                                </div>
                            </div>
                       </div>
                        <div class="tile flex">
                            <h3 class="quiz">Question 2</h3>
                            <div class="tile-content">
                                <div class="flex q-section">
                                    <div class="qs">
                                        <input placeholder="Which Protocol is used in transport layer?" class="input"/>
                                        <div class="items">
                                            <div class="item">
                                                <input type="checkbox" />
                                                <label>MCQs</label>
                                            </div>
                                            <div class="item">
                                                <input type="checkbox" checked/>
                                                <label>Show Answer</label>
                                            </div>
                                            <div class="item">
                                                <input type="checkbox" />
                                                <label>True or False</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="cols">
                                        <div class="col">
                                            <div class="flex select">
                                                <label for="">Option 1</label>
                                                <input type="checkbox"/>
                                            </div>
                                            <div class="flex select">
                                                <label for="">Option 2</label>
                                                <input type="checkbox" checked/>
                                            </div>
                                            <div class="flex select">
                                                <label for="">Option 3</label>
                                                <input type="checkbox"/>
                                            </div>
                                            <div class="flex select">
                                                <label for="">Option 4</label>
                                                <input type="checkbox"/>
                                            </div>
                                        </div>
                                    </div>
                                    
                                </div>
                            </div>
                       </div>
                       <div class="tile flex">
                        <h3 class="quiz">Question 3</h3>
                        <div class="tile-content">
                            <div class="flex q-section">
                                <div class="qs">
                                    <input placeholder="Is 64-bit IP address used now?" class="input"/>
                                    <div class="items">
                                        <div class="item">
                                            <input type="checkbox" />
                                            <label>MCQs</label>
                                        </div>
                                        <div class="item">
                                            <input type="checkbox" checked/>
                                            <label>Show Answer</label>
                                        </div>
                                        <div class="item">
                                            <input type="checkbox" />
                                            <label>True or False</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="cols">
                                    <div class="col">
                                        <div class="flex choice">
                                            <label for="">True</label>
                                            <input type="checkbox" checked/>
                                        </div>
                                        <div class="flex choice">
                                            <label for="">False</label>
                                            <input type="checkbox"/>
                                        </div>
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                   </div>
                    </div>
                    <button onclick="location.href='./instructor.html'">Save</button>
                </div>
            </div>
        </div>
    </main>
</body>
</html>