<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
    <link href="../StaticFiles/CSS/main.min.css" rel="stylesheet">
    <link href="../StaticFiles/CSS/forgotPassword.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <script src="../StaticFiles/JS/main.min.js"></script>
    <header>
        <a href="#" class="logo">LOGO</a>
    </header>
</head>
<body>
    <div class="form-container">
        <form>
            <h1 class="h1">Forgot Password</h1>
            <div class="input-row">
                <input class="email" type="email" placeholder="Email">
            </div>
            <button type="button" onClick="location.href='./login.html'">Reset Password</button>
        </form>
    </div>
</body>
</html>
