<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link href="../StaticFiles/CSS/homepage.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

    <!-- Include your styles.css here if needed -->
</head>

<body class="body-bg">
    <header class="top-bar flex">
        <div class="flex">
            <h3 class="logo">MSC</h3>
        </div>
        <div class="flex">
            <a href="about_us.html" class="nav-bar-text no-underline">About</a>
        </div>
        <div class="flex">
            <a href="services.html" class="nav-bar-text no-underline">Services</a>
        </div>
        <div class="flex">
            <a href="contact_us.html" class=" nav-bar-text no-underline">Contact</a>
        </div>
        <div class="flex">
            <div class="button-container">
                <a href="login.html" class="rounded-button no-underline">Login</a>
            </div>
        </div>
    </header>
    <div class="video-button-container">
        <button class="video-button" id="showVideoButton"><i class="fas fa-play play-icon"></i></button>
    </div>
    <div class="video-container">
        <video src="your-video.mp4" controls></video>
    </div>
    <div class="content" style="background-color: white;">
        <div class="co">
        <h1>Ignite Your Tech Here!</h1>
        <p>The purpose of the graduate programs in Computer Science is to facilitate the student's continued professional and scholarly development. The Master of Science (M.S.) programs are designed to extend the student's knowledge and emphasize a particular area of concentration.</p>
        <div class="button-container">
            <a href="register.html" class="rounded-button no-underline">Register now</a>
        </div>
        </div>
    </div>

</body>
</html>
