<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Profile</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../StaticFiles/CSS/exam.css">
</head>
<body>
    <div class="header">
        <a href="#" class="logo">MSC</a>
    </div>
    <main>
        <div class="content-bar1">
            <div class="content">
                <div class="container">
                    <div class="profile-info">
                        <div class="profile-image">J</div>
                        <div class="profile-name">Dr. Jefferson</div>
                        <div class="profile-details">
                            <p>Email: instructor@uta.com</p>
                            <p>Location: Arlington</p>
                            <p>User Type: Instructor</p>
                        </div>
                    </div>
                    <button onclick="location.href='./instructor.html'">Back to Home</button>
                </div>
            </div>
        </div>
    </main>
</body>
</html>
