<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>QA OFFICER Page</title>
            <link href="../StaticFiles/CSS/main.min.css" rel="stylesheet">
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
            <script src="../StaticFiles/JS/main.min.js"></script>
    </head>
<body>
    <header class="top-bar flex">
        <div class="flex">
            <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" fill="currentColor" class="bi bi-list" viewBox="0 0 16 16"><path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/></svg>
            <h3 class="logo">MSC</h3>
        </div>
        <div class="flex">
            <div class="profile">
                <svg xmlns="http://www.w3.org/2000/svg" width="32" height="28" fill="currentColor" class="bi bi-person-fill" viewBox="0 0 16 16"><path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3Zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6Z"/></svg>
            </div>
            <h3 class="">Name</h3>
        </div>
    </header>
            <div class="content">
                <h2 class="hhh" style="color: #555; text-transform: uppercase;">Quality Assurance</h2>
                <div class="tiles-wrap">
                    <div class="column">
                        <ul class="tiles">
                            <li>CURRICULUM EVALUTATION </li>
                            <li>PERFORMANCE ASSESSMENT </li>
                            <li>QUALITY STANDARDS </li>
                            <li>SUPPORT AND FEEDBACK </li>
                            <li>FACULTY DEVELOPMENT </li>
                        </ul>
                        
                    </div>
                    <div class="column">
                        <ul class="tiles">
                            <li>ASSESMENT TOOLS</li>
                            <li>IMPROVEMENT INITATIVES</li>
                            <li>REPORTING</li>
                            <li>ACCREDATION</li>
                            <li>PROGRAM EVALUTATION</li>
                        </ul>
                    </div>

            </div>
</body>
</html>