<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../StaticFiles/CSS/main.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
    <script src="../StaticFiles/JS/main.min.js"></script>
    <title>Services | OIT</title>        
</head>
<body>
    <header class="top-bar flex">
        <div class="flex">
            <h3>MSC</h3>
        </div>
        <div class="flex">
            <a href="about_us.html" class="nav-bar-text no-underline">About</a>
        </div>
        <div class="flex">
            <a href="services.html" class="nav-bar-text no-underline">Services</a>
        </div>
        <div class="flex">
            <a href="contact_us.html" class=" nav-bar-text no-underline">Contact</a>
        </div>
        <div class="flex">
            <div class="button-container">
                <a href="login.html" class="rounded-button no-underline">Login</a>
            </div>
        </div>
    </header>
    <div class="content" style="background-color: white;">
        <div class="text">
        <h1>Services at MSC</h1>
        <p>MSC offers a wide range of services and products to students, faculty, staff, and researchers to achieve their academic success.</p>
        <p>Choose a category on the right to get a high-level overview of our services and see some of our Featured Services.</p>
        <p>If you need some information that is not listed here, feel free to contact our Help Desk by clicking this <a style="color:#007bff" href="contact_us.html">page</a>.</p>
    </div>
        <div class="category">
            <h2>Quick Links</h2>
            <div>
                <div><a href="homepage.html" style="color:#007bff">Home</a></div>
                <div><a href="about_us.html" style="color:#007bff">About Us</a></div>
                <div><a href="login.html" style="color:#007bff">Login</a></div>
            </div>
        </div>
    
        <div class="featured-services">
            <h2>Featured Services</h2>
            <div class="category1">
                <h3>Students</h3>
                <div>
                    <div>Wide Range of Courses</div>
                    <div>Assessment and Feedback</div>
                    <div>Online Course Development</div>
                </div>
            </div>
            
            <div class="category2">
                <h3>Instructors</h3>
                <div>
                    <div>Technology Training</div>
                    <div>Course Development</div>
                    <div>Training and Workshops</div>
                </div>
            </section>
            
        </div>
        </div>
    </div>

    
</body>
</html>
