<!DOCTYPE html>
<html>
<head>
    <title>Base Page</title>
    <head>
        <link href="../StaticFiles/CSS/main.min.css" rel="stylesheet">
        <link href="../StaticFiles/CSS/student.css" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
        <script src="../StaticFiles/JS/main.min.js"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
      </head>
</head>
<body>
  <div class="header">
    <input type="checkbox" id="active">
    <label for="active" class="menu-btn"><i class="fas fa-bars"></i></label>
    <a href="#" class="logo">LOGO</a>
  <div class = "wrapper">
    <ul>
      <li><a href="student-profile.html">Profile</a></li>
      <li><a href="#">Courses</a></li>
      <li><a href="#">Inbox</a></li>
      <li><a href="calendar.html">Calender</a></li>
    </ul>

    <ol>
      <li><a href="#">Privacy Policy</a></li>
      <li><a href="#">Help</a></li>
      <li><a href="#">Logout</a></li>
    </ol>
  </div>
</div>
  
<div class="content">
  <div class="sidebar">
    <a class="active" href="student.html">Home</a>
    <a href="student-syllabus.html">Syllabus</a>
    <a href="students-modules.html">Modules</a>
    <a href="student-assignments.html">Assignments</a>
    <a href="student-grades.html">Grades</a>
    <a href="student-discussion.html">Discussion</a>
    <a href="student-people.html">People</a>
    <!-- <a href="#videoConference">Video Conference</a> -->
    <a href="student-feedback.html">Feedback</a>
</div>
<div class="main">
    <!-- Simulate a smartphone / tablet -->
    <div class="row">
        <!-- Navigation Menu -->
        <div class="topnav">
            <p class="course-name">Course Name</p>
            <div id="myLinks">
              <a class="active" href="student.html">Home</a>
              <a href="student-syllabus.html">Syllabus</a>
              <a href="students-modules.html">Modules</a>
              <a href="student-assignments.html">Assignments</a>
              <a href="student-grades.html">Grades</a>
              <a href="student-discussion.html">Discussion</a>
              <a href="student-people.html">People</a>
              <!-- <a href="#videoConference">Video Conference</a> -->
              <a href="student-feedback.html">Feedback</a>
            </div>
            <a class="icon">
                <i class="icon-chevron-down"></i>
              </a>
        </div>
    </div>
        
        <div class="row">
            <table id = "class">
                <tr>
                  <td>Instructor Name:</td>
                  <td>Dr. Jhon Doe</td>
                </tr>
                <tr>
                  <td>Class Timmings: </td>
                  <td>3:00 pm to 4:20 pm</td>
                </tr>
                <tr>
                  <td>Meeting location: </td>
                  <td>Building 5, 301</td>
                </tr>
                <tr>
                  <td>Mode: </td>
                  <td>IN person</td>
                </tr>
       
              </table>
        </div>
        <div class="row">
            <p>Recommended Textboox: Some textbook name with authors name.</p>
        </div>
    </div>

    
    
 </div>
</body>
</html>
