<!DOCTYPE html>
<html>
<head>
    <title>Base Page</title>
    <head>
        <link href="../StaticFiles/CSS/main.min.css" rel="stylesheet">
        <link href="../StaticFiles/CSS/student.css" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
        <script src="../StaticFiles/JS/main.min.js"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
      </head>
</head>
<body>
  <div class="header">
    <input type="checkbox" id="active">
    <label for="active" class="menu-btn"><i class="fas fa-bars"></i></label>
    <a href="#" class="logo">LOGO</a>
  <div class = "wrapper">
    <ul>
      <li><a href="#">Profile</a></li>
      <li><a href="#">Courses</a></li>
      <li><a href="#">Inbox</a></li>
      <li><a href="#">Calender</a></li>
    </ul>

    <ol>
      <li><a href="#">Privacy Policy</a></li>
      <li><a href="#">Help</a></li>
      <li><a href="#">Logout</a></li>
    </ol>
  </div>
</div>
  
<div class="content">
    <div class="sidebar">
        <a href="#home">Home</a>
        <a href="#syllabus">Syllabus</a>
        <a href="#modules">Modules</a>
        <a href="#assignments">Assignments</a>
        <a href="#grades">Grades</a>
        <a class="active" href="#discussion">Discussion</a>
        <a href="#people">People</a>
        <a href="#videoConference">Video Conference</a>
        <a href="#feedback">Feedback</a>
    </div>
    <div class="main">
        <!-- Simulate a smartphone / tablet -->
        <div class="row">
            <!-- Navigation Menu -->
            <div class="topnav">
                <p class="course-name">Course Name</p>
                <div id="myLinks">
                    <a href="#syllabus">Home</a>
                    <a href="#syllabus">Syllabus</a>
                    <a href="#modules">Modules</a>
                    <a href="#assignments">Assignments</a>
                    <a href="#group">Grades</a>
                    <a href="#discussion">Discussion</a>
                    <a href="#people">People</a>
                    <a href="#videoConference">Video Conference</a>
                    <a href="#feedback">Feedback</a>
                </div>
                <a href="javascript:void(0);" class="icon" onclick="myFunction()">
                    <i class="icon-chevron-down"></i>
                  </a>
            </div>
            
            <script>
                function myFunction() {
                  var x = document.getElementById("myLinks");
                  if (x.style.display === "block") {
                    x.style.display = "none";
                  } else {
                    x.style.display = "block";
                  }
                }
                </script>
        </div>
        <div class="row">
            <table id = "class">
                <tr class="module">
                    <th class="modulesection">Discussion</th>
                </tr>
              </table>
        </div>
        <div class="row">
            <!--forum design here-->
            <div class="message-board">                
                <!-- Message List -->
                <div class="message-list">
                    <!-- Individual Messages -->
                    <div class="message">
                        <div class="user-avatar">
                            <img src="../StaticFiles/Media/profile.png" alt="User 1">
                        </div>
                        <div class="message-content">
                            <p class="user-name">User 1</p>
                            <p class="message-text">Some message</p>
                            <p class="message-date">2 hours ago</p>
                        </div>
                    </div>
            
                    <div class="message">
                        <div class="user-avatar">
                            <img src="../StaticFiles/Media/profile.png" alt="User 2">
                        </div>
                        <div class="message-content">
                            <p class="user-name">User 2</p>
                            <p class="message-text">Some message</p>
                            <p class="message-date">1 hour ago</p>
                        </div>
                    </div>
                    
                    <!-- Add more messages as needed -->
                </div>
            
                <!-- Message Input Form -->
                <div class="message-input">
                    <input type="text" placeholder="Type your message...">
                    <button>Send</button>
                </div>

        </div>
        
    </div>

    
    
 </div>
</body>
</html>
