<!DOCTYPE html>
<html>
<head>
    <title>Base Page</title>
    <head>
        <link href="../StaticFiles/CSS/main.min.css" rel="stylesheet">
        <link href="../StaticFiles/CSS/student.css" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
        <script src="../StaticFiles/JS/main.min.js"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
      </head>
</head>
<body>
  <div class="header">
    <input type="checkbox" id="active">
    <label for="active" class="menu-btn"><i class="fas fa-bars"></i></label>
    <a href="#" class="logo">LOGO</a>
  <div class = "wrapper">
    <ul>
        <li><a href="student-profile.html">Profile</a></li>
        <li><a href="#">Courses</a></li>
        <li><a href="#">Inbox</a></li>
        <li><a href="calendar.html">Calender</a></li>
    </ul>

    <ol>
      <li><a href="#">Privacy Policy</a></li>
      <li><a href="#">Help</a></li>
      <li><a href="#">Logout</a></li>
    </ol>
  </div>
</div>
  
<div class="content">
    <div class="row">
        <table id = "class">
            <tr class="module">
                <th class="modulesection">
                    Student Profile
                </th>
                
            </tr>
        </table>
        </div>
        <div class="container">
            <div class="box">
                <img src="../StaticFiles/Media/prof.jpg" alt="">
                <ul>
                    <li>Jhon DOe</li>
                    <li>22 years</li>
                    <li>Student</li>
                </ul>
            </div>
            <div class="About">
                <button class="edit-butn">Edit</button>
                <ul>
                    <h1>About</h1>
                </ul>
                <ul>
                    <h3>Role</h3>
                    <li>Student</li>
                </ul>
                <ul>
                    <h3>Gender</h3>
                    <li>Male</li>
                </ul>
                <ul>
                    <h3>Country</h3>
                    <li>USA</li>
                </ul>
                <ul>
                    <h3>More Info</h3>
                    <p>Optional Information about student.</p>
                </ul>
                <ul>
                    <h3>Contact</h3>
                    <li>example@gmail.com</li>
                </ul>
            </div>
        </div>
        
    </div>

    
    
 </div>
</body>
</html>
