<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Profile</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.4.2/css/all.css">
    <link rel="stylesheet" href="../StaticFiles/CSS/exam.css">
</head>
<body>
    <div class="header">
        <a href="#" class="logo">MSC</a>
    </div>
    <main>
        <div class="content-bar1">
            <div class="content">
                <div class="container" style="max-height: none;">
                    <div class="profile-info">
                        <a href="student-profile-edit.html">
                            <span id="icon" style="height: 20px;width: 20px;display: inline-flex;margin-left: 95%;">
                                <img src="../StaticFiles/Media/pen-to-square-regular.svg">
                            </span>
                        </a>
                        
                        <div class="profile-image">RK</div>
                        <div class="profile-name">Rahul Kumar</div>
                        <div class="profile-details">
                            <p>Email: student@uta.com</p>
                            <p>Location: Arlington</p>
                            <p>User Type: Student</p>
                        </div>
                        <div class="profile-details">
                            <p>Bio: <br> More Information on student</p>
                            <br>
                            <p>Prefered Contact Information: <br>
                                <ul>
                                    <li>Phone: +1 9876543210</li>
                                    <li>Email: student@uta.com</li>
                                    <li>Socail Media: linkedin.com/student</li>
                                </ul>
                            </p>
                            <br>
                            <p>Past Courses: <br>
                                <ul>
                                    <li>1. Design Modeling and Analysis Techniques</li>
                                    <li>2. Design and Analysis of Algorithms</li>
                                    <li>3. Discret Mathematics</li>
                                </ul>
                                </p>
                        </div>
                    </div>
                    <button onclick="location.href='./student.html'">Back to Home</button>
                </div>
            </div>
        </div>
    </main>
</body>
</html>
