<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Subject Page</title>
        <link href="../StaticFiles/CSS/main.min.css" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
        <script src="../StaticFiles/JS/main.min.js"></script>
</head>
<body>
    <header class="top-bar flex">
        <div class="flex">
            <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" fill="currentColor" class="bi bi-list" viewBox="0 0 16 16"><path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/></svg>
            <h3 class="">MSC</h3>
        </div>
        <div class="flex">
            <div class="profile">
                <svg xmlns="http://www.w3.org/2000/svg" width="32" height="28" fill="currentColor" class="bi bi-person-fill" viewBox="0 0 16 16"><path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3Zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6Z"/></svg>
            </div>
            <h3 class="">Name</h3>
        </div>
    </header>
  
  <div class="content" style="background-color: white;">
    <div class="subject_title">Web Data Management</div>
    <div class="subjectdesc_image">
        <div class="text">
            Course Code: CSE-5331<br>
            Prerequisites: Maths, statistics, probability Should be Comfortable in any one programming Language (Java, Python, C).
            <br>Description: Web Data Management one finds primarily on the Web, HTML (the standard for the Web) but also documents in pdf, doc, plain text as well as images, music and videos. The public Web is composed of billions of pages on millions of servers. 
        </div>
        <div class="image">
            <img src="../StaticFiles/Media/pexels-andrea-piacquadio-3807755.jpg" alt="Image on the right">
        </div>
    </div>
    <h4 class="ititle">Instructors</h4>
     <div class="instructors_details">

        <ul class="instructors">
            <li class="text">
                Elizabeth Diaz<br>
                Email: diaz.elizabeth@oit.in<br>
                Contact: 2324234234
            </li>
            <li class="text">
                Chang Mia<br>
                Email: mia.chang@oit.in<br>
                Contact: 3324234234
            </li>
            <li class="text">
                Priya Kulkarani<br>
                Email: kulkarani.priya@oit.in<br>
                Contact: 1324234234
            </li>
        </ul>
        <div class="add_details">
            <div class="text">
                Additional information
            </div>
            <div class="text">
                Credit Hours: 3 credits<br>
                Course Format: offline in-person format
            </div>
            <div class="link">
                Sylabus Link
            </div>
        </div>

            
    </div>
</div>

</body>
</html>
